/* TerrainOverlay CSS Module */

.background {
    background: linear-gradient(45deg, #2d5016 25%, #3a5f1a 25%, #3a5f1a 50%, #2d5016 50%, #2d5016 75%, #3a5f1a 75%);
    background-size: 40px 40px;
    opacity: 0.3;
}